@require 'colors'

button(color)
  color-block color
  width 6em
  height 2em

button
  margin 1em !important
  position relative
  color-block red
  color: white.mid
  font-family font-stack
  font-weight 500
  font-size 1.2em
  padding-left 0.75em
  padding-right 0.75em
  padding-top 0.25em
  padding-bottom 0.25em
  border none

button:focus
  outline none

button:active
  box-shadow none
  top block-depth
