red = {
  name: 'red'
  mid: #e74c3c
  dark: #c0392b
}
orange = {
  name: 'orange'
  mid: #e67e22
  dark: #d35400
}
yellow = {
  name: 'yellow'
  mid: #f1c40f
  dark: #f39c12
}
green = {
  name: 'green'
  mid: #2ecc71
  dark: #27ae60
}
blue = {
  name: 'blue'
  mid: #3498db
  dark: #2980b9
}
violet = {
  name: 'violet'
  mid: #9b59b6
  dark: #8e44ad
}
black = {
  name: 'black'
  mid: #34495e
  dark: #2c3e50
}
white = {
  name: 'white'
  mid: #ecf0f1
  dark: #bdc3c7
}
gray = {
  name: 'gray'
  mid: #95a5a6
  dark: #7f8c8d
}

colors = red orange yellow green blue violet black white gray
