@require 'colors'

progress-bar(color)
  border-radius block-radius
  margin 1em
  height 1.25em
  background: black.mid
  > span
    text-align center
    color #eee
    block-raise color
    background: color.mid
    border-radius block-radius
    display block
    height 100%

.progress-bar-red:hover
  progress-bar green
